#msgHdrtrue {
    color: #000000;
    font-weight: bold;
}
#msgHdrfalse {
    color: #e7e3e3;
}

.main {
    width: 80%;
    background-color: lightgray;

    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.container {
}
.grid-container {
    display:grid;
    column-gap: 3px;
    grid-template-columns: 70% 30%;
    overflow-wrap: break-word;
}

.grid-item-digish {
    grid-column-start: 1;
    grid-column-end: 1;
}

.grid-item-info {
    grid-column-start: 2;
}

button {
   /* background: none!important;*/
    background-color: lightgray;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
/*    text-decoration: underline;*/
    cursor: pointer;
    transition-duration: 0.4s;
}

button:hover{
    background-color: gainsboro;
}

iframe {
    border-style: none;
    background-color: gainsboro;
}