@import 'variables';
body {
    margin: 0;
    display: flex;
    justify-content: center;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: $margin*4;
    min-height: 100%;
    
    .digInput {
        margin-top: $padding*2;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
    }

    .contentWrap {
        display: flex;
        justify-content: center;
        margin-bottom: 120px;
    }

    .footerWrap {
        width: 100%;
        max-width: 1200px;
    }
}

.wrapInput {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    border-radius:$padding;
    height: 55px;
    margin-right: $margin*4;
}

.labelStyle {
    color: grey;
    margin-top: -5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
}

.labelDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius:$padding;
    height: 55px;
    margin-right: $margin*4;
}
.is {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    color: grey;
    font-size: 1rem;
    margin-left: $margin*2;
    margin-top: $margin*7;
}

.isactive {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    color: grey;
    font-size: 1.2rem;
    margin-left: 0px;
    margin-top: 0px;
    font-size: 0.85rem;
    &:hover {
        color: $primary-orange;
    }
}

label {
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-size: 1.2rem;
    font-size: 0.85rem;
    margin-bottom: $margin;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }

input:focus ~ label, select:focus ~ label {
    margin-left: 0px;
    margin-top: 0px;
    font-size:0.85rem;
    color:$primary-orange;
  }

input:hover ~ label {
    color: $primary-orange;
}

.selectBorder:hover ~ label {
    color: $primary-orange;
}

.selectBorder:focus ~ label {
    color: $primary-orange;
}

h1 {
    color: $primary-orange;
    font-family: 'Monda', Courier, monospace;
    font-size: 5rem;
    margin-bottom: $padding*2;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    color: $black;
    margin-left: $margin*3;
    margin-bottom: 0px;
    margin-top: $margin*6;
}

h3{
    font-size: 1.2rem;
    margin-bottom: 0px;
    margin-left: $margin*3;
}

h4{
    margin-left: $margin*3;
    margin-top: 0px;
    margin-bottom: 0px;
}

.copyBtn {
    background-image: url(../images/CopySymbol.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    width: 25px;
    &:hover {
        background-image: url(../images/CopySymbolhover.png);
    }
}

.flag {
    color: #949494;
}
.flagtrue {
    color: #FDFFFE;
}

.flexRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.noPadding{
    padding-left: 0;
    padding-top: $padding;
    margin-top: 0px;
    margin-bottom: 0px;
}

.queryTypeClass {
   flex: 1 1 0;
   padding: 0px;
}

table{
    border-spacing: 0px;
}
tr {
    width: 50vw;
}

td{
    width: 8vw;
}

.firstCell {
    width: 12vw;
}

section {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;;
}