body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  min-height: 100%;
}
.main .digInput {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.main .digInput input:-webkit-autofill,
.main .digInput input:-webkit-autofill:hover,
.main .digInput input:-webkit-autofill:focus,
.main .digInput input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}
.main .hiddentrue {
  display: none;
}
.main .hiddenfalse {
  display: block;
  color: gray;
}
.main .showAdditionalDefaulttrue {
  color: #949494;
}
.main .infoSectionH2 {
  font-size: 1.5rem;
  margin-top: 5px;
}
.main .copyIcon {
  align-self: center;
}
.main .copyIcon svg path {
  stroke: #FF8C00;
}
.main .copyIcon svg:hover {
  cursor: pointer;
}
.main .copyIcon svg:hover path {
  stroke: #FFCD8F;
}
.main .footerWrap {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}
.main .footerWrap .githubIcon svg {
  width: 32px;
  height: 32px;
}
.main .footerWrap .githubIcon svg path {
  fill: #FDFFFE;
}
.main .footerWrap .githubIcon svg:hover path {
  fill: #070D0C;
}
.main .footerWrap .classroomIcon {
  margin-right: 5px;
}
.main .footerWrap .classroomIcon svg path, .main .footerWrap .classroomIcon svg rect {
  stroke: #FDFFFE;
}
.main .footerWrap .classroomIcon svg:hover {
  cursor: pointer;
}
.main .footerWrap .classroomIcon svg:hover path, .main .footerWrap .classroomIcon svg:hover rect {
  stroke: #070D0C;
}
.main .footerWrap .classroomIcon.active svg path, .main .footerWrap .classroomIcon.active svg rect {
  stroke: #070D0C;
}
.main .footerWrap .classroomIcon.active svg:hover {
  cursor: pointer;
}
.main .footerWrap .classroomIcon.active svg:hover path, .main .footerWrap .classroomIcon.active svg:hover rect {
  stroke: #FDFFFE;
}

.wrapInput {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: left;
  border-radius: 5px;
  height: 55px;
  margin-right: 20px;
}

.labelStyle {
  color: #949494;
  margin-top: -5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
}

.labelDiv {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;
  height: 65px;
  width: 45%;
}
.labelDiv:hover {
  position: relative;
}
.labelDiv:hover .toolTip {
  visibility: visible;
}

.is {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  color: #949494;
  font-size: 1rem;
  margin-left: 10px;
  margin-top: 35px;
}

.isactive {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  color: #949494;
  margin-left: 0px;
  margin-top: 0px;
  font-size: 0.85rem;
}
.isactive:hover {
  color: #FF8C00;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  color: #949494;
  font-size: 1.2rem;
  font-size: 0.85rem;
  margin-bottom: 5px;
}

.toolTip {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  background-color: #FDFFFE;
  color: #070D0C;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #FF8C00;
  top: -50px;
  width: -moz-max-content;
  width: max-content;
}
.toolTip::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 1%;
  border-width: 5px;
  border-style: solid;
  border-color: #FF8C00 transparent transparent transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:focus ~ label, select:focus ~ label {
  margin-left: 0px;
  margin-top: 0px;
  font-size: 0.85rem;
  color: #FF8C00;
}

input:hover ~ label {
  color: #FF8C00;
}

.selectBorder:hover ~ label {
  color: #FF8C00;
}

.selectBorder:focus ~ label {
  color: #FF8C00;
}

h1 {
  color: #FF8C00;
  font-family: "Monda", Courier, monospace;
  font-size: 5rem;
  margin-bottom: 10px;
}

h2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  color: #070D0C;
  margin-left: 15px;
  margin-bottom: 0px;
  margin-top: 30px;
}

h3 {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
  margin-bottom: 0px;
  margin-left: 15px;
}

h4 {
  font-family: "Courier New", Courier, monospace;
  font-size: 0.9rem;
  font-weight: 400;
  margin-left: 15px;
  margin-top: 12px;
  margin-bottom: 0px;
}

.copyBtn {
  background-image: url(../images/CopySymbol.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  width: 25px;
}
.copyBtn:hover {
  background-image: url(../images/CopySymbolhover.png);
}

.flag {
  color: #949494;
}

.flagtrue {
  color: #FDFFFE;
  position: relative;
}

a {
  color: #FDFFFE;
}

.state {
  color: #949494;
}

.statetrue {
  color: #FDFFFE;
}

.flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.noPadding {
  padding-left: 0;
  padding-top: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.tableMargin {
  margin-top: 5px;
}

table {
  width: 100%;
  border-spacing: 0px;
  padding-left: 5px;
}
table:hover {
  color: #FF8C00;
  cursor: pointer;
}
table tr .firstCell {
  width: 29%;
}
table tr .queryTypeClass {
  width: 14%;
}
table tr td {
  margin: 0px;
}
table tr .lastCell {
  width: 29%;
}
table tr .secondRow {
  padding-top: 5px;
  word-break: break-all;
}

section {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}/*# sourceMappingURL=main.css.map */