body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px;
  min-height: 100%;
}

.main .digInput {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.main .digInput input:-webkit-autofill,
.main .digInput input:-webkit-autofill:hover,
.main .digInput input:-webkit-autofill:focus,
.main .digInput input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.main .contentWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 120px;
}

.main .footerWrap {
  width: 100%;
  max-width: 1200px;
}

.wrapInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  text-align: left;
  border-radius: 5px;
  height: 55px;
  margin-right: 16px;
}

.labelStyle {
  color: grey;
  margin-top: -5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
}

.labelDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border-radius: 5px;
  height: 65px;
  margin-right: 16px;
}

.is {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  color: grey;
  font-size: 1rem;
  margin-left: 8px;
  margin-top: 28px;
}

.isactive {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  color: grey;
  font-size: 1.2rem;
  margin-left: 0px;
  margin-top: 0px;
  font-size: 0.85rem;
}

.isactive:hover {
  color: #FF8C00;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
  font-size: 1.2rem;
  font-size: 0.85rem;
  margin-bottom: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:focus ~ label, select:focus ~ label {
  margin-left: 0px;
  margin-top: 0px;
  font-size: 0.85rem;
  color: #FF8C00;
}

input:hover ~ label {
  color: #FF8C00;
}

.selectBorder:hover ~ label {
  color: #FF8C00;
}

.selectBorder:focus ~ label {
  color: #FF8C00;
}

h1 {
  color: #FF8C00;
  font-family: 'Monda', Courier, monospace;
  font-size: 5rem;
  margin-bottom: 10px;
}

h2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  color: #070D0C;
  margin-left: 12px;
  margin-bottom: 0px;
  margin-top: 24px;
}

h3 {
  font-size: 1.2 rem;
  margin-bottom: 0px;
  margin-left: 12px;
}

h4 {
  margin-left: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.copyBtn {
  background-image: url(../images/CopySymbol.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  width: 25px;
}

.copyBtn:hover {
  background-image: url(../images/CopySymbolhover.png);
}

.flag {
  color: #949494;
}

.flagtrue {
  color: #FDFFFE;
}

.state {
  color: #949494;
}

.statetrue {
  color: #FDFFFE;
}

.flexRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.noPadding {
  padding-left: 0;
  padding-top: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.flexGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 40vw;
}

.flexRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: inherit;
  background-color: blueviolet;
}

table {
  width: 100%;
  border-spacing: 0px;
  padding-left: 5px;
  padding-top: 5px;
}

table tr .firstCell {
  width: 29%;
}

table tr .queryTypeClass {
  width: 14%;
}

table tr td {
  padding: 0px;
  margin: 0px;
}

table tr .lastCell {
  width: 29%;
}

section {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 12px;
}
/*# sourceMappingURL=main.css.map */