{{set . "title" "EduDig"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#9d9d9d">
    <div class="container">
        <div class="row">
            <h1>{{ .Zone }}</h1>
            <p><b>Full Response:</b> {{ .response }}</p>
            <p><b>MsgHdr:</b> {{ .response.MsgHdr}}</p>
            <p><b>MsgHdr.RecursionDesired:</b> {{ .response.MsgHdr.RecursionDesired}}</p>
            <p><b>Question:</b> {{ .response.Question }}</p>
            <p><b>Answer:</b> {{ .response.Answer }}</p>
            <p><b>Authority:</b> {{ .response.Ns }}</p>
            <p><b>Additional:</b>{{ .response.Extra }}</p>
            <p><b>RTT</b> {{ .rtt }}</p>
            <p><b>Nameserver</b> {{ .nameserver }}</p>
            <p><b>Port:</b> {{ .port }}</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="span6">
            {{template "flash.html" .}}
        </div>
    </div>
</div>

<form action="/App/Dig" method="GET">
    <input type="text" name="zone" /><br/>
    <input type="submit" value="Enter Zone!" />
</form>

<div class="container">
    <a href="/"> home </a>
</div>

{{template "footer.html" .}}
