<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OPCODE</title>
</head>
<body>
OPCODE:

<p>
    A four bit field that specifies kind of query in this
    message.  This value is set by the originator of a query
    and copied into the response. </p>
<p>The values are:</p>
<p>0               a standard query (QUERY)</p>
<p>1               an inverse query (IQUERY)</p>
<p>2               a server status request (STATUS)</p>
<p>3-15            reserved for future use</p>
</body>
</html>